@using System.Security.Claims;
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Globalization;
@inject IViewLocalizer Localizer;

@{
    string currentUserName = User?.Identity?.Name?.Split('@')[0].Split('.').FirstOrDefault();
    string homeLinkTitle = Localizer["HomeLinkTitle"].Value;
    string postsLinkTitle = Localizer["PostsLinkTitle"].Value;
    string profileLinkTitle = Localizer["ProfileLinkTitle"].Value;
    string adminLinkTitle = Localizer["AdminLinkTitle"].Value;
    string moderationLinkTitle = Localizer["ModerationLinkTitle"].Value;
    string analyticsLinkTitle = Localizer["AnalyticsLinkTitle"].Value;
    string loginLinkTitle = Localizer["LoginLinkTitle"].Value;
    string logoutLinkTitle = Localizer["LogoutLinkTitle"].Value;
    string signUpLinkTitle = Localizer["SignUpLinkTitle"].Value;
    string privacyLinkTitle = Localizer["PrivacyLinkTitle"].Value;

    CultureInfo? culture = System.Globalization.CultureInfo.CurrentUICulture;
    string? dir = culture.TextInfo.IsRightToLeft ? "rtl" : "ltr";

}

<!DOCTYPE html>
<html lang="@culture.TwoLetterISOLanguageName" dir="@dir">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - TownTalk</title>
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

        @await Html.PartialAsync("_Favicons")

    </head>

    <body style="background-color: transparent;" data-bs-theme="dark">
        <header>
            <nav class="navbar navbar-light  border-bottom box-shadow mb-3 px-2">
                <div class="container-fluid d-flex justify-content-between align-items-center">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TownTalk
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span class="badge bg-success fw-bold rounded-pill"
                                style="box-shadow: 0 0 10px rgba(0, 128, 0, 0.5); filter:hue-rotate(45deg)">@currentUserName</span>
                        }
                    </a>

                    <div class="d-flex align-items-center w-auto">
                        <ul class="navbar-nav d-flex flex-row" style="gap: 1rem;">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@homeLinkTitle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="Index">@postsLinkTitle</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                    <li class="nav-item">
                                        <a class="nav-link btn btn-link m-0 px-1" asp-area="" asp-controller="Profile" asp-action="Index">@profileLinkTitle</a>
                                    </li>

                                    @if (User.IsInRole("Admin"))
                                    {
                                            <li class="nav-item">
                                                <a class="nav-link" asp-area="" asp-controller="Admin"
                                                    asp-action="Index">@adminLinkTitle</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-area="" asp-controller="Admin"
                                                    asp-action="Moderation">@moderationLinkTitle</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" asp-area="" asp-controller="Admin"
                                                    asp-action="Analytics">@analyticsLinkTitle</a>
                                            </li>
                                    }
                            }

                            <li class="nav-item">
                                <div class="popoverwrapper p-0 m-0">
                                    <button type="button" class="btn bg-transparent m-0 js-notification-bell"
                                        data-bs-toggle="modal" data-bs-target="#notificationModal" aria-label="notificationsButtonLabel">
                                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
                                            <path d="M18 8c0-5-3-8-6-8S6 3 6 8c0 5-3 8-3 8h18s-3-3-3-8z"></path>
                                            <path d="M13 21h-2c0 1.1.9 2 2 2s2-.9 2-2h-2z"></path>
                                            <circle id="notification-indicator" cx="18" cy="6" r="6" fill="transparent"
                                                stroke="none" />
                                        </svg>
                                    </button>
                                    <div id="notificationContent" style="display: none;"></div>
                                </div>
                            </li>

                            @if (User.Identity.IsAuthenticated)
                            {
                                    <li class="nav-item">
                                        <a class="nav-link btn btn-link m-0 px-1"
                                            href="/Identity/Account/Logout">@logoutLinkTitle</a>
                                    </li>
                            }
                            else
                            {
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Identity/Account/Login">@loginLinkTitle</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Identity/Account/Register">@signUpLinkTitle</a>
                                    </li>
                            }
                        </ul>
                    </div>

                </div>
            </nav>
        </header>

        <div class="container">
            <main role="main" class="pb-3" style="min-height: 77vh;">
            @RenderBody()
            </main>
        @await Html.PartialAsync("_NotificationsModal")
        @await Html.PartialAsync("_ScrollTop")
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - TownTalk - <a asp-area="" asp-controller="Home" asp-action="Privacy">@privacyLinkTitle</a>
            </div>
        </footer>

         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)

        <script src="~/js/main.js" asp-append-version="true"></script>
    </body>

</html>
