@using TownTalk.Web.ViewModels;
@using Microsoft.AspNetCore.Mvc.Localization;

@model TownTalk.Web.ViewModels.PostViewModel;
@inject IViewLocalizer Localizer;

@{
    string commentsText = Localizer["Comments"].Value;
    string addCommentPlaceholder = Localizer["AddCommentPlaceholder"].Value;
    string commentButtonText = Localizer["Comment"].Value;
    string noCommentsText = Localizer["NoCommentsText"].Value;

    string postId = Model.Id.ToString();
}

<div class="mt-2 js-comments-wrapper collapse" id="comments-@postId">
    <div class="card card-body mt-2" style="background-color: rgba(255, 255, 255, 0.05);">
        <h6>@commentsText</h6>
        <form class="comment-form" method="post" action="/Comments/Create">
            <input type="hidden" name="PostId" value="@postId" />
            <div class="input-group mt-2">
                <input type="text" class="form-control" name="Content" placeholder="@addCommentPlaceholder" required />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">@commentButtonText</button>
                </div>
            </div>
        </form>
        <div id="commentList-@postId" class="comment-list">
            @if (Model.Comments != null && Model.Comments.Any(c => c.ParentCommentId == null))
            {
                foreach (CommentViewModel comment in Model.Comments.Where(c => c.ParentCommentId == null))
                {
                    await Html.RenderPartialAsync(partialViewName: "~/Views/Shared/_Comment.cshtml", model: comment);
                }
            }
            else
            {
                <p>@noCommentsText</p>
            }
        </div>
    </div>
</div>
