@model TownTalk.Web.ViewModels.PostViewModel
@using System.Security.Claims
@using TownTalk.Web.ViewModels

<div id="post-@Model.Id" class="card mb-3" style="background-color: rgba(255, 255, 255, 0.05);">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Content</p>
            </div>

            @if (Model.IsUserOwner)
            {
                <div style="flex-shrink: 0;">
                    <a href="@Url.Action("Edit", "Posts", new { id = Model.Id })"
                        class="btn btn-warning btn-sm me-1">Edit</a>
                    <a href="@Url.Action("Delete", "Posts", new { id = Model.Id })" class="btn btn-danger btn-sm">Delete</a>
                </div>
            }
        </div>

        <p class="card-text text-muted">
            <small>Posted by <a
                    href="@Url.Action("Index", "Profile", new { userId = Model.UserId })">@Model.UserDisplayName</a>
                in @Model.CategoryName on @Model.CreatedAt.ToShortDateString() in @Model.CategoryName on
                @Model.CreatedAt.ToShortDateString()</small>
        </p>

        <div class="d-flex gap-1 align-items-center w-100 justify-content-between">
            <button class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#comments-@Model.Id">
                Comments (@Model.CommentCount)
            </button>

            <div class="reaction-containers" data-post-id="@Model.Id">
                <div class="ml-auto">
                    @await Html.PartialAsync(partialViewName: "~/Views/Shared/_Reactions.cshtml", model: Model)
                </div>
            </div>
        </div>

        @await Html.PartialAsync(partialViewName: "_Comments", model: Model)
    </div>
</div>
