@using System.Security.Claims
@using TownTalk.Models
@using TownTalk.ViewModels
@model IEnumerable<TownTalk.Models.Post>

@{
    ViewBag.Title = "Posts";
}

<div class="container mt-4">
    <h1>Posts (@Model.Count())</h1>

    @{
        // Calculate available dates (unique MM/yyyy values from the post CreatedAt property)
        List<string>? availableDates = Model
        .Select(p => p.CreatedAt) // Select the DateTime value
        .OrderBy(d => d) // Sort by DateTime value
        .Select(d => d.ToString("MM/yyyy")) // Convert to MM/yyyy format after sorting
        .Distinct().ToList();

        // Calculate authors (unique users who posted)
        var authors = Model
        .Select(p => p.User)
        .Distinct()
        .Select(u => new { u.Id, u.DisplayName })
        .ToList();

        // Calculate categories (unique categories for the posts)
        List<Category?>? categories = Model
        .Where(p => p.Category != null) // Only include posts with a category
        .Select(p => p.Category)
        .Distinct()
        .ToList();
    }

    <div class="container mt-3">
        <!-- Filters Group -->
        <form method="get" asp-action="Index">
            <div class="row">
                <div class="col-md-12">
                    <label for="q">Search</label>
                    <input type="text" id="q" name="q" value="@ViewBag.Query"
                        placeholder="Search by title or content" />
                </div>
            </div>
            <div class="row align-items-center">
                <!-- Date Filter -->
                <div class="col-md-3">
                    <label for="dateFilter">Date</label>
                    <select id="dateFilter" name="at">
                        <option value="">All Dates</option>
                        @foreach (var date in availableDates)
                        {
                            <option value="@date" selected="@(ViewBag?.Date == date)">@date</option>
                        }
                    </select>
                </div>

                <!-- Author Filter -->
                <div class="col-md-3">
                    <label for="authorFilter">Author</label>
                    <select id="authorFilter" name="by">
                        <option value="">All Authors</option>
                        @foreach (var author in authors)
                        {
                            <option value="@author.DisplayName" selected="@(ViewBag?.Author == @author.DisplayName)">@author.DisplayName</option>
                        }
                    </select>
                </div>

                <!-- Category Filter -->
                <div class="col-md-3">
                    <label for="categoryFilter">Category</label>
                    <select id="categoryFilter" name="cl">
                        <option value="">All Categories</option>
                        @foreach (var category in categories)
                        {
                            <option value="@category.Name" selected="@(ViewBag?.Category == category.Name)">@category.Name</option>
                        }
                    </select>
                </div>

                <div class="col-md-3 d-flex align-items-center">
                    <button class="btn-primary mt-2" type="submit">Apply filters</button>
                </div>
            </div>

        </form>
        <hr>

        <!-- Posts Display Area -->
        <div id="postList">
            @foreach (Post post in Model)
            {
                string? userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                @await Html.PartialAsync("_PostCard", new PostViewModel(post: post, userId))
            }
        </div>
    </div>


</div>
